<!DOCTYPE html>
<html>
  <head>
    {{> styles }}
    <title> {{ title }} </title>
  </head>
  <body>
     {{> navegacion }}
    <div class="container mt-2">
      <h1>{{ title }}</h1>
      <hr>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Nueva Venta</button>
      </div>
      {{> ventasCreateModal }}
      <hr>
      <div>
        <table class="table table-striped table-bordered" id="videoJuegosTable">
          <thead>
            <tr>
              <th scope="col">video Juego</th>
              <th scope="col">ubicacion</th>
              <th scope="col">cantidad</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each ventas}}
            <tr>
              <td>{{this.videoJuegoId}}</td>
              <td>{{this.ubicacionId}}</td>
              <td>{{this.cantidad}}</td>
              <td>
                <div class="btn-group" role="group">
                  <a class="btn btn-secondary" href="/ventas/delete/{{this.id}}">Eliminar</a>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal-{{this.id}}">Actualizar</button>
                  {{> ventasUpdateModal venta=this }}
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <hr>
    </div>
    {{> scripts }}
  </body>
</html>